{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-0 text-left"><br><br><br>
                    <h1>Privacy Policy</h1>
                    <p>Effective Date: 2024-07-15</p>
                    <!-- wp:heading {"level":4} -->
                    <h6>1. Introduction</h6>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p>We at Campze respect your privacy and are committed to protecting it through our compliance with this policy. This policy describes:</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:list -->
                    <ul><!-- wp:list-item -->
                    <li>The types of information we may collect from you or that you may provide when you visit the website.</li>
                    <!-- /wp:list-item -->

                    <!-- wp:list-item -->
                    <li>Our practices for collecting, using, maintaining, protecting, and disclosing that information.</li>
                    <!-- /wp:list-item --></ul>
                    <!-- /wp:list -->

                    <!-- wp:paragraph -->
                    <p></p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"level":4} -->
                    <h6>2. Information We Collect and How We Collect It:</h6>
                    <p>This information is necessary for us to provide a safe and enjoyable camping experience, cater to specific needs, and ensure the well-being of all campers.</p>
                    <p>Campze collects the following personal information from campers and their parents/guardians:</p>
                    <!-- wp:list -->
                    <ul><!-- wp:list-item -->
                    <li>By which you may be personally identified, such as name, postal address, email address, telephone number, etc. ("personal information").</li>
                    <!-- /wp:list-item -->

                    <!-- wp:list-item -->
                    <li>That is about you but individually does not identify you.</li>
                    <!-- /wp:list-item -->

                    <!-- wp:list-item -->
                    <li>About your internet connection, the equipment you use to access our Service, and usage details.</li>
                    <!-- /wp:list-item --></ul>
                    <!-- /wp:list -->

                    <!-- wp:paragraph -->
                    <h6>3. How We Use Your Information:</h6>
                    <p>We use personal information collected via our platform for a variety of business purposes described below. The personal information collected by Campze is used solely for the purpose of camp operations and administration, including:</p>

                    <!-- wp:list -->
                    <ul><!-- wp:list-item -->
                    <li>Facilitating camp registration and enrollment</li>
                    <li>To cater to the specific needs and safety requirements of the campers</li>
                    <li>Providing appropriate accommodations, meals, and activitiesEnsuring the health and safety of all campers.</li>
                    <li>To communicate with you regarding our services and updates</li>
                    <li>To ensure the health and safety of the campers by having access to necessary medical information</li>
                    <li>Maintaining camp records and attendance.</li>
                    <li>Improving our camp programs and services.</li></ul>
                    <p>Campze does not share or disclose your personal information with any third parties, except as required by law or to fulfill our obligations as a camp service provider.</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"level":4} -->
                    <h6>4. Disclosure of Your Information</h6>
                    <!-- /wp:heading -->
                    <p>We do not share, sell, rent, or trade any of your personal information with third parties for their promotional purposes. We may process or share your data based on the following legal basis:</p>

                    <ul>

                    <!-- wp:list-item -->
                    <li> Consent: We may process your data if you have given us specific consent to use your personal information for a specific purpose.</li>
                    <li>Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, judicial proceedings, court orders, or legal process.</li>
                    <!-- /wp:list-item -->

                    <!-- wp:list-item -->
                    <li>For any other purpose disclosed by us when you provide the information.</li></ul>
                    
                    <p>The information we collect is not directly disclosed to the hosts and service providers. Instead, we may share summarized data such as statistics and the identification of campers. Personal information is withheld and safely stored by Campze.</p>

                    <!-- /wp:list -->
                    <!-- wp:heading {"level":4} -->
                    <h6>5. Data Protection Right:</h6>

                    <!-- wp:paragraph -->
                    <p>In line with the Protection of Personal Information Act (POPIA) of South Africa, you have certain rights regarding your personal information, including:

                    </p>

                    <!-- wp:list -->
                    <ul><!-- wp:list-item -->
                    <li>The right to access – You have the right to request copies of your personal data.</li>
                    <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate.</li>
                    <li> The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
                    <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
                    <li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li></ul>
                    <!-- /wp:list-item -->
                    <h6>6. Indemnity</h6>
                    <p>Parents or guardians are required to sign an indemnity form on behalf of their children. This indemnity form serves to release Campze from any liability for injuries or damages that may occur during the camp activities. The form acknowledges that the parents or guardians understand and accept the risks involved in participating in camp activities and agree to hold Campze harmless.

                    </p>
                    <!-- wp:paragraph -->
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph -->
                    <p></p>
                    <!-- /wp:paragraph -->

                    <!-- wp:heading {"level":4} -->
                    <h6>7. Changes to Our Privacy Policy</h6>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p>It is our policy to post any changes we make to our privacy policy on this page. If we make material changes to how we treat our users' personal information, we will notify you through a notice on the Service's home page.</p>
                    <!-- /wp:paragraph -->
                    
                    <!-- wp:heading {"level":4} -->
                    <h6>8. Contact Information</h6>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p>To ask questions or comment about this privacy policy and our privacy practices, contact us at: <a href="mailto:support@campze.com." data-type="mailto" data-id="mailto:support@campze.com.">support@campze.com.</a></p>
                    <!-- /wp:paragraph -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}